@font-face {
  font-family: "iconfont"; /* Project id 3143139 */
  src: url('iconfont.woff2?t=1642486382083') format('woff2'),
       url('iconfont.woff?t=1642486382083') format('woff'),
       url('iconfont.ttf?t=1642486382083') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e8b2";
}

